<!DOCTYPE html>
<html>
<head>
<title>Survey Form</title>
<link rel="stylesheet"  href="/css/survey.css"/>
<style>
    #result {
        height: 200px;
        width: 200px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script type ="text/javascript">

    $(document).ready(function (){

        function showMessage(response){
            for(var i=0;i<response.messages.length;i++){
                $('#chatHistory').appendChild(createMessage(response.messages[i]));
            }
        }

        function createMessage(response){
            var span = document.createEleemnt('span');
            span.innerHTML = response.userName+":"+response.message;
            return span;
        }

        var socket = io(); 
        var lastCount = 0;
        // process the form
        $('#joinChat1').click(function(event) {
           var joinData = {};
           joinData.userName = $('#userName').text();
           socket.on('startchat', function (response) { //4
               showMessage(response);
               socket.on('messageUpdate', function (response) { //4
                alert('messageUpdate');
                    showMessage(response);
                });
           });
           
           socket.emit('joinChat',joinData);
           
        });

         // process the form
         $('#epicReset').click(function(event) {
            socket.emit('epicReset');
        });
    })
    </script>
</head>

<body>
         <div class="wrapper">
                <input type="text" id="userName"/> <button id="joinChat1">JoinChat</button>
         </div>
         <div id="result">
            <div>Chat History</div>
            <div id="chatHistory">

            </div> 

         </div>
</body>

</html>