<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlashBall Game</title>
    <link rel="stylesheet" type="text/css" href="/css/game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    
    <script type ="text/javascript">
        var socket = io(); //1
        var currentUserName = "<%= userName %>";
        $(document).ready(function (){
            socket.on('joined_user',function(response) {
                var otherUserName = response.userName;
                $('#userForm').hide();
                $('#chatBoard')[0].appendChild(createStatus(otherUserName+" joined"))
            });

            socket.on('start_game',function(userList) {
                var colors = [];
                for(var i in userList){
                    colors.push(userList[i]);
                }
                createScoreBoard(userList);
                Game.startGame({color:userList[currentUserName],colorArr:colors,socket:socket});
            });

            socket.on('score_data',function(scores) {
                for(var i in scores){
                    $('#scoreBoard').find('#'+i).html(scores[i]);
                }
            });

            function createScoreBoard(userList){
                for(var i in userList){
                    var div = document.createElement('div');
                    div.innerHTML=message;
                    div.id=i;
                    div.style.backgroundColor = userList[i];
                    $('#scoreCard')[0].appendChild(div);
                }
            }

            function createStatus(message){
                var div = document.createElement('div');
                div.innerHTML=message;
                return div;
            }
            });

    </script>
    <style>
        
    </style>

    
</head>
<body>
        <% if(!userName){ %>
                <form action="/join" method="post" id="userForm">
                    Enter your user name: <input id='player_name' type='text' name='user_name'>
                    <input  type='submit' value='Join The Game!'>
                </form>
        <% } else { %>
                <% var users = Array.from(users) %>
                <header class="header">
                    <div class="score" id="scoreBoard">
                    </div>
                    <div class="sliderWrap">
                        <input type="range" id="speedRange" min="10" max="100" value="10">
                        <label for="speedRange">Speed</label>
                    </div>
                </header>
                <div class="board" id="board">
                    
                </div>
                <script src="/js/game.js"></script>
                <h5 id=chatBoard>
                        <% for(i=0;i<users.length;i++) { %>
                            <div><%= users[i] %> Joined.</div>
                        <% } %>
                </h5>
        <% } %>
</body>
</html>