
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="cars.css" rel="stylesheet">
<div class="container">
    <div class="center">Check out the latest cars</div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
                <img class="thumbnail" src="./images/car1.png"/>
                <div class="car-name">Mercedes AMG</div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <img class="thumbnail" src="./images/car4.png"/>
                <div class="car-name">Jagaur</div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <img class="thumbnail" src="./images/car3.png"/>
                <div class="car-name">Alpha Romeo</div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <img class="thumbnail" src="./images/car1.png"/>
                <div class="car-name">Lucio</div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="thumbnail" src="./images/car1.png"/>
                    <div class="car-name">Mercedes AMG</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="thumbnail" src="./images/car4.png"/>
                    <div class="car-name">Jagaur</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="thumbnail" src="./images/car3.png"/>
                    <div class="car-name">Alpha Romeo</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                    <img class="thumbnail" src="./images/car1.png"/>
                    <div class="car-name">Lucio</div>
            </div>
        </div>
</div>

<script type="text/javascript">
    
</script>