body {
  font-family: arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 100%;
}

.button {
  margin: 10px;
  background-color: teal;
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  width: 200px;
  height: 200px;
}

.button-field{
  display: flex;
  flex-direction: row;
}
