<html>
<body>
    <h2>Counter</h2>
    <h3><%= counter %> times</h3>

    <form action='/inctwo' method='post' style="width:50px; display:inline-block">
        <input type='submit' value='+2'>
    </form>
    <form action='/reset' method='post' style="width:50px; display:inline-block">
        <input type='submit' value='reset'>
    </form>
    
    
</body>
</html>