<html>
<body>
    <h2>Here is the count:</h2>

    <button class='sampleBtn'><%= cnt %></button>
    <a href="/increment">add by 2</a>
    <!-- <img src="car1.jpeg" alt="car1" width="500" height="600">
    <img src="cat1.jpg" alt="car2" width="500" height="600"> -->
    <a href="/reset">reset to 1</a>

</body>
</html>