<h1>Sample</h1>
<%= JSON.stringify(users) %>
<hr/>
<% for(idx in users){ %>
        <a href="/users/<%= users[idx].id %>">
                <%= users[idx].name %>
        </a> 
        <br/>
<% } %>

<form action="/users" method="post">
        <input type="text" name='first_name'>
        <input type="submit">
</form>