<h1>Welcome, <%= user.name %></h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, facilis iste? Repudiandae, optio? Nesciunt, iusto possimus accusamus animi quo voluptatibus praesentium veniam placeat nulla doloremque consequuntur, ea numquam. Odio, modi.</p>