<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Basic Mongoose</h1>

    <form id="userForm" method="POST" action="/create">
        Name: <input type="text" id="name" name="name" />
        Age: <input type="text" id="age" name="age" />
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</body>
</html>