<html>
<head>
    
    <title>Sockets</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    
    <script type ="text/javascript">
        var socket = io(); //1

        $(document).ready(function (){  
            socket.on('greeting', function (data) { //4
                console.log(data.color); //5
                socket.emit('thankyou', { msg: 'Thank you for connecting me! -Client' }); //6
                $('#b1').html(data.cnt);
                $('body').css("background-color", data.color);
            });
            var name = confirm("enter your name");
            console.log("enter name");
                socket.on('update background color', function(data){
                    console.log(data.color)
                    $('body').css("background-color", data.color);
                });
          
            $('#pink').submit(function(){
                console.log("click pink");
                socket.emit('color', {color:'pink'})
                return false;
            });

            $('#green').submit(function(){
                console.log("click green");
                socket.emit('color', {color:'green'})
                return false;
            });
            $('#yellow').submit(function(){
                console.log("click yellow");
                socket.emit('color', {color:'yellow'})
                return false;
            });
            
         })
         

    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>click to change the color </h1>

    <form id='pink'>
        <input type='submit' value='pink'>
    </form>

    <form id='yellow'>
            <input type='submit' value='yellow'>
    </form>

    <form id='green'>
            <input type='submit' value='green'>
    </form>
   
</body>
</html>