<html>
<head>
    <link rel="stylesheet" type = "text/css" href="/stylesheets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
</head>

<body>
<h1>Animal Dashboard</h1>

<form action="/animals" method="post"> <!--/animals/new-->
    Animal Name:
    <input type="text" name="name" placeholder="Name">
    Animal Type
    <input type="text" name="type" placeholder="Type">
    <button type="submit" id="add">Add my animal!</button>
</form>

<script type ="text/javascript">
    $(document).ready(function (){
        $("#skip").click(function (){//redirect
            window.location.href = "http://localhost:8000/quotes";
            //console.log("Client: sending message "+ message);
            return false; //very important one, otherwise it will go into infite loop prompting the user 
        });
    });
</script>
</body>
</html>