<!DOCTYPE html>
<html lang="en">
<body>
    <form action='/cats' method='POST'>
        Name: <input type='text' name='name' placeholder=<%=cat.name%>>
        Size: <input type='text' name='size' placeholder=<%=cat.size%>>
        <input type='submit' value='create cat'>
    </form>
</body>

</html>