<!DOCTYPE html>
<html lang="en">
<body>
    <form action='/cats/destroy/<%=cat.id%>' method='POST'>
        Name: <input type='text' name='name'>
        Size: <input type='text' name='size'>
    
        <input type='submit' value='destroy cat'>
    </form>


</body>

</html>