<html>
<body>
    <h1>Survey Form</h1>
    

    <form action='/result' method='post'>
        <h2>Name:   <input type="text" name="myname"></h2>
        <h2>Location:   <select name="mylocation">
                <option>San Jose</option>
                <option>Orchard</option>
                <option>Portland</option>
                <option>New York</option>
              </select></h2>
        <h2>Language:   <select name="mylanguage">
                <option>Java</option>
                <option>Node</option>
                <option>Python</option>
                <option>Go</option>
              </select></h2>
        <h2>Comment (optional):     <br>
        <input type="text" name="mycomments"></h2>
        <input type='submit' value='Submit'>
    </form>
    
    
    
</body>
</html>