<h1>Welcome to Quoting DoJo</h1>
<form action="/quotes" method="post">
   Your Name : <input type="text" name="name"/>
   Your quote: <input type="text" name="quote"/>
   <input type="submit" value="Add my quote"/>
   <a href="/quotes">Skip to quotes</a>

</form>