
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/cars.css" rel="stylesheet">
<div>
        <div class="center header">EJS Cats</div>
        <h1>Details Page for Cuddles</h1>
                <div class="row center">
                        <div class="full-width">
                                <a class="thumbnail-wrapper" >
                                        <img class="thumbnail" src= "/<%= data.src %>" />
                                </a>   
                        </div>
                </div>

                <div class="cuddlesinfo pink">
                        <span>Favorite Food: <%= data.food %></span>
                </div>

                <div class="cuddlesinfo medium-pink">
                        <span>Age: <%= data.age %></span>
                </div>

                <div class="cuddlesinfo dark-pink">
                        <span>Sleeping Spots: <%= data.sleeping %></span>
                </div>


</div>

<script type="text/javascript">
    
</script>