<html>
<body>

    <button class='sampleBtn'>Welcome!!!</button>
    <h3>Name: <%= user.name %></h3>
    <h3>ID: <%= user.catID %></h3>
    <img src="/<%= user.pic %>" alt="the cat" width="500" height="600">
</body>
</html>

