<html>
  <head>
    <title>New Car</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
          <img src="/images/car1.jpg" width="50" height="50">
        </td>
        <td>
          <h1>New Car</h1>
        </td>
      </tr>
    </table>

    
    <h1>Enter New Car Details</h1><br>
    <form action="/newcarinfo">
        <h2>Number: <input type="text" name="carnum"></h2>
        <h2>Car Make: <input type="text" name="carmake"></h2>
        <h2>Car Name: <input type="text" name="carname"></h2>
        <input type="submit" value="Submit">
    </form>
   

  </body>
</html>