<html>
    <head>
        <title>Sockets</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
        <script type ="text/javascript">
            
            function handleClick(){
                console.log('inside handleclick');
                var elem = document.activeElement.getAttribute("id");
                var socket = io();
                console.log("Element: " + elem);
                if (elem == 'push'){
                    socket.emit('epic_button_hit');
                } else if(elem == 'reset'){
                    socket.emit('epic_button_reset');
                }
                
                
                socket.on('epic_button_count', function(data){
                    console.log('Inside epic_button_count');
                    console.log(data);
                    window.alert(data);
                
                });

                socket.on('epic_reset_count', function(data){
                    console.log('Inside epic_reset_count');
                    console.log(data);
                    window.alert(data);
                });
               
                
            }
        </script>
    </head>
<body>
    <h1>Survey Form</h1>
    


    <form name="indexform" action='javascript:handleClick(this)' method='post'>
        
        <input type='submit' id='push' value='Push the epic button' width="500" height="200"> 
        <input type='submit' id='reset' value='Reset count' width="200" height="75">
        
    </form>
    
    
    
</body>
</html>