<html>
<body>
    <h1><u>Submitted Information</u></h1>
    

    <form action='/'>
        <b>Name:    </b><%= info.myname %><br><br>
        <b>Location:    </b><%= info.mylocation %><br><br>
        <b>Language:    </b><%= info.mylanguage %><br><br>
        <b>Comments:    </b><%= info.mycomments %><br><br>
        
        <input type='submit' value='Go Back'>
    </form>
    
    
    
</body>
</html>