<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body>
  <div class="container">
    <h1>Survey Thing</h1>
    <form class="form" action='/results' method='post'>
      <label for="name"><b>Your Name:</b></label>
      <input type='text' name='name'>
      <label for="location"><b>Dojo Location:</b></label>
      <select name="location">
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
      </select>
      <label for="language"><b>Favorite Language:</b></label>
      <select name="language">
        <option value="Javascript">Javascript</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="C++">C++</option>
      </select>
      <label for="message"><b>Comments (option)</b></label>
      <textarea name="message" rows="10" cols="30"></textarea>
      <input class="button" type='submit' value='Submit'>
    </form>
</form>
  </div>
</body>
</html>
