<html>
<body>
    <img  src="/images/<%= detail.id %>.jpg" width="500" height="500"/>
    <h2>Here are the info:</h2>
    
        <h3>Food: <%= detail.food %></h3>
        <h3>Age: <%= detail.age %></h3>
        <h3>Sleeping Spots: <%= detail.spots  %></h3>
    

    
    
</body>
</html>