<html>
<body>
    <h1>Mongoose Entry Form</h1>
    
   

    <form action='/mongooses' method='post'>
        <h2>Name:   <input type="text" name="name"></h2>
        <h2>Color:  <input type="text" name="color"></h2>
        <h2>Food:  <input type="text" name="food"></h2>
        <input type='submit' value='Add Mongoose'>
        
    </form>
    
    
    
</body>
</html>