<html>
<body>
    <h1>Mongoose Dashboard</h1>
    

    <form>
        <h2>Mongooses</h2>
       
            <% for (idx in data){ %>
                <%= data[idx].name  + ":" + data[idx].color + ":" + data[idx].food %> <br>
                
            <% } %>
        

        
        
        
    </form>
    
    
    
</body>
</html>