<html>
<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheets/style.css"/>
</head>
<body>
  <div class="container">
    <img src="/images/404-Error.png"/>
    Uh oh! We could not find your page. Go back <a href="/cats">home</a>.
  </div>
</body>
</html>
