<html>
<head>
  <link rel="stylesheet" type = "text/css" href="/stylesheets/style.css"/>
</head>
<body>
  <div class="container">
    <a href="/cats">Cats</a>
    <a href="/cars">Cars</a>
    <a href="/cars/new">New Car</a>
    <h1>See some Cars</h1>
    <p>Welcome, <%= user %> </p>
    <img src='/images/car1.jpg'/>
    <img src='/images/car2.jpg'/>
    <img src='/images/car3.jpg'/>
  </div>
</body>
</html>
