<html>
<body>
    <h1>Quoting Dojo</h1>
    
   

    <form action='/quotes' method='post'>
        <h2>Name:   <input type="text" name="name"></h2>
        <h2>Quote:  <input type="text" name="quote"></h2>
        
        <input type='submit' value='Add my quote'>
        
    </form>
    
    
    
</body>
</html>