<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body>
  <div class="container">
    <h1>Counter</h1>
    <p><%= counter %> times</p>
    <button id="btn1">Ninja Level 1</button>
    <button id="btn2">Ninja Level 2</button>
  </div>
</body>
</html>
