<html>
<head>
    <link rel="stylesheet" type = "text/css" href="/stylesheets/style.css"/>
</head>
<p>Welcome, <%= user %> </p>
<body>
    <img src="/images/car1.jpeg" alt="Car1"/>
    <img src="/images/car2.jpeg" alt="Car2"/>
</body>
</html>